:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-dray: hsl(0, 0%, 41%);
  --orange: hsl(39, 100%, 50%);

  --ff-heading: "Josefin Sans", sans-serif;

  --fs-l: clamp(3rem, 2.4625rem + 3vw, 6.0625rem);
  --fs-m: clamp(1.9rem, 1.575rem + 3.375vw, 5rem);
  --fs-s: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Alata", sans-serif;
  font-size: 15px;
  color: var(--dark-gray);
  line-height: 1.4;
}

h1,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

button {
  all: unset;
}

a {
  text-decoration: none;
  color: inherit;
}

/* util */
.padding-inline {
  padding-inline: 2em;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding-block: 2.5em;
  background-color: transparent;
}

.logo {
  font-size: 0.5rem;
}

header .menu {
  margin-right: 0;
  color: var(--white);
}

header .nav ul {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: var(--white);
  height: 100vh;
  z-index: 2;
  transform: translateY(-100%);
  transition: transform 0.3s;

  padding-top: 2.5em;
}

header .nav ul li a {
  color: var(--dark-gray);
  display: block;
  padding: 0.4em 2em;
  font-size: 1rem;
  text-align: right;
  border-bottom: 1px solid var(--dark-gray);
}

header .nav ul li a:hover {
  color: var(--very-dark-dray);
}

/* HERO SECTION */

.hero-wrapper {
  position: relative;
  min-height: 100vh;
  background: rgba(26, 26, 26, 0.7);
  color: #fff;
}

.hero-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/img/hero-img.jpg") center/cover no-repeat;
  z-index: -1;
}

.hero-wrapper header,
.hero-wrapper .hero {
  position: relative;
}

.hero {
  max-width: 800px;
  padding-block: 10em;
}

.hero-title {
  font-size: 3rem;
  font-size: var(--fs-l);
  font-family: var(--ff-heading);
  line-height: 0.9;
}

.hero-title span {
  color: var(--orange);
}

.hero-paragraph {
  font-size: 1.125rem;
  font-size: var(--fs-s);
  line-height: 1.4;
  margin-top: 1em;
}

.hero .cta-btn {
  font-size: 1.125rem;
  color: var(--black);
  background: var(--orange);
  display: inline-block;
  margin-top: 1em;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.cta-btn:hover {
  background: rgb(247, 178, 52);
  color: var(--white);
}

/* FEATURED SECTION */

.featured-section {
  margin-top: 1.47em;
  text-align: center;
}

.featured-section h2 {
  font-family: var(--ff-heading);
  font-size: var(--fs-m);
  color: var(--very-dark-dray);
  text-transform: uppercase;
  line-height: 1.2;
}

.games {
  margin-top: 2.9em;
}

.game {
  margin-top: 2em;
  height: 232px;
}

.game img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* FOOTER */

footer.footer {
  color: var(--white);
  background: var(--black);
  margin-top: 2.5em;
  padding: 2em;
  text-align: center;
}

.footer h3 {
  font-size: 1rem;
}

.footer-nav {
  margin-top: 1.5em;
}

.footer-nav li {
  margin-top: 1.2em;
  font-size: 1rem;
}

.social-links {
  margin-top: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-links a {
  font-size: 2rem;
}

.copyright {
  font-size: 0.8rem;
  color: var(--dark-gray);
  margin-top: 1em;
}
